@import '../../index.scss';

#projects {
  min-height: 100vh;
  padding-top: 70px;

  .projects-list {
    margin: 40px auto;
    text-align: start;
    max-width: 800px;

    .project-card {
      display: flex;
      align-items: center;
      gap: 20px;
      align-items: center;
      margin: 40px 0;
      border: 1px solid black;

      .project-preview {
        flex: 0 0 40%;

        img {
          object-fit: cover;
        }

        @media (max-width: 780px) {
          display: none;
        }
      }

      .project-body {
        padding: 20px;

        p {
          margin: 20px 0;
          color: $text-gray;
        }

        .tags {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;

          div {
            font-size: 12px;
            font-weight: bold;
            border-radius: 10px;
            padding: 5px 7px;
            background-color: black;
            color: white;
            border: 1px solid gray;
          }
        }

        .buttons {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
        }
      }
    }
  }
}
