#skills {
  min-height: 100vh;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;

  .skills-list {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 40px auto;
    flex-wrap: wrap;

    // @media (max-width: 400px) {
    //   display: grid;
    //   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    // }
  }
}
