#skills {
  min-height: 100vh;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .skills-list {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 40px auto;
    flex-wrap: wrap;
  }
}
