@import '../../index.scss';

#about {
  min-height: 100vh;
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    color: $text-gray;
    margin: 40px auto;
    max-width: 700px;
    line-height: 30px;

    span {
      font-weight: bold;
      color: black;
    }
  }
}
