.icon-wrapper {
  box-shadow: 0px 5px 10px rgba(167, 167, 167, 0.144);
  display: flex;
  align-items: center;
  border: 1px solid rgba(167, 167, 167, 0.144);
  padding: 10px 20px;
  margin: 10px;
  transition: transform ease-in-out 0.3s;
  border-radius: 20px;
  background-color: white;

  span {
    margin-left: 10px;
    font-weight: 600;
    color: rgb(78, 78, 78);
  }

  &:hover {
    cursor: crosshair;
    scale: 1.1;
    transition: transform ease-in-out 0.3s;
  }

  @media (max-width: 400px) {
    span {
      display: none;
    }
  }
}
